* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.TabsContainer {
  &__header {
    border-bottom: 4px solid #007bff;
    height: 60px;
  }
  &__item {
    display: inline-block;
    color: #007bff;
    border: 3px solid #fff;
    border-bottom: 0px solid #007bff;
    background: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 12px;
    font-size: 25px;
    cursor: pointer;
  }
  &__content {
    height: 500px;
    width: 100%;
    font-size: 40px;
    padding: 30px;
  }
  
  .active {
    border: 3px solid #007bff;
    border-bottom: 3px solid #007bff;
    background: #007bff;
    color: #fff;
  }
}
.hide {
  display: none;
}
